<script>
    import { scaleLinear } from 'd3-scale';
    import { extent, max } from 'd3-array';

export let data;
export let xScale;
export let yScale;
export let scaling_type;
export let building_index;
export let max_line_width;

$: pathGenerator = () =>
{
    let path = "M " + xScale(0) + " " + max_line_width
    
    data.forEach((d,index) => {
        path += " " + xScale(index) + ' ' + yScale(d.total_heating_energy)
    });
    path += " " + xScale(24*31)  + " " + max_line_width
    path += " " + xScale(0)  + " " + max_line_width
    return path;
}

$:{
  if(scaling_type == "separate") {
    yScale = scaleLinear().domain(extent(data.map((d) => d.total_heating_energy))).range([max_line_width,0])
  }
}

</script>
 <g transform="translate(0, {building_index*15})">
    <!-- {#each data as datapoint,idx}
    <line x1={xScale(idx)} y1 = {yScale(0)} x2={xScale(idx)}  y2={yScale(datapoint.total_heating_energy)}></line>
    {/each} -->
    <path id="path" d={pathGenerator()}></path>
</g>

<style>
    path {
        stroke: black;
        fill: black;
        stroke-width:1px;
    }

</style>


