<script>
    export let scaling_type = "days"

</script>
<div class="inner">
    <h6>Scaling Type:</h6>
    <label>
        <input type=radio bind:group={scaling_type} id="scaling_type1" name="scaling_type" value="days">
        365 Days
        </label>
        <label>
        <input type=radio bind:group={scaling_type} id="scaling_type2" name="scaling_type" value="months">
        Avg. over 12 months
        </label>
</div>


<style>
    .inner {
      vertical-align:top;
    }
      </style>