<script>
    export let city_type = "Baltimore"
    export let scaling_type = "separate"

</script>
<div class=outer>
    <div class="inner">
        <h6>City Type:</h6>
        <label>
        <input type=radio bind:group={city_type} id="city_type1" name="city_type1" value="Baltimore">
        Baltimore
        </label>
        <label>
        <input type=radio bind:group={city_type} id="city_type2" name="city_type2" value="Chicago">
        Chicago
        </label>
        <label>
        <input type=radio bind:group={city_type} id="city_type3" name="city_type3" value="Los Angeles">
        Los Angeles
        </label>
    </div>
  
    <div class="inner">
    <h6>Across:</h6>
    <label>
        <input type=radio bind:group={scaling_type} id="scaling_type1" name="scaling_type1" value="separate">
        Each line (building)
    </label>

    <label>
        <input type=radio bind:group={scaling_type} id="scaling_type2" name="scaling_type2" value="all">
        All lines
    </label>
  </div>

</div>

<style>
.inner {
  vertical-align:top;
}
  </style>
  