<script>
import { extent } from 'd3-array';

import { scaleLinear} from 'd3-scale';

export let data =[];
export let index;
export let yScale_all;
export let scaling_type;
export let min_val;
export let max_val;

let radius = 75
let circle_center = 100

let xScale;
let yScale_heating;
let yScale_cooling;
let yScale_combined;

let xScale_year = scaleLinear().domain([0,360]).range([ Math.PI,-1*Math.PI])

$: {
     xScale = scaleLinear().domain(extent(data.map(d => d.day_of_year))).range([ Math.PI,-1*Math.PI])
     yScale_heating = scaleLinear().domain(extent(data.map((d) => d.heating))).range([0,radius])
     yScale_cooling = scaleLinear().domain(extent(data.map((d) => d.cooling))).range([0,radius])
     yScale_combined = scaleLinear().domain(extent( data.map((d) => d.cooling).concat(data.map((d) => d.heating)))).range([0,radius])
    }

 $: pathGenerator = () =>
{

    let path_heating = "M ";
    let path_cooling = "M ";

    data.forEach((d,index) => {
            path_heating +=  yScale_all(d.heating)*(Math.sin(xScale(index))) + ',' + yScale_all(d.heating)*(Math.cos(xScale(index)))+ " "
            path_cooling += yScale_all(d.cooling)*(Math.sin(xScale(index))) + ',' + yScale_all(d.cooling)*(Math.cos(xScale(index)))+ " "

        });
    path_heating += "Z"
    path_cooling += "Z"

    return [path_heating, path_cooling];
}
</script>

<circle cx={index*200} cy={circle_center} r={radius}></circle>
<line x1 = {index*200} x2 = {index*200} y1 = {circle_center-radius} y2 = {circle_center+radius}></line>
<line x1 = {index*200 - radius} x2 = {index*200 + radius} y1 = {circle_center} y2 = {circle_center}></line>

<g transform="translate({index*200}, {circle_center})">
    <path id = "heating" d={pathGenerator()[0]}></path>
    <path id = "cooling" d={pathGenerator()[1]}></path>

{#each data as point,idx}
    {#if idx % 30 == 0}
    <line id="line_tickers" x1 ={(radius)*(Math.sin(xScale_year(idx)))} y1 ={(radius)*(Math.cos(xScale_year(idx)))} x2 = {(radius-5)*(Math.sin(xScale_year(idx)))} y2= {(radius-5)*(Math.cos(xScale_year(idx)))}></line>

            {#if idx != 0} 
            {#if idx >= 150 & idx <= 270}
            <text id="tickers" x={(radius+10)*(Math.sin(xScale_year(idx)))} y= {(radius+10)*(Math.cos(xScale_year(idx)))}>{idx/30 }</text>  
            {:else if idx >= 300 & idx <= 330}
            <text id="tickers" x={(radius+20)*(Math.sin(xScale_year(idx)))} y= {(radius+2)*(Math.cos(xScale_year(idx)))}>{idx/30 }</text>  
            {:else}
            <text id="tickers" x={(radius+4)*(Math.sin(xScale_year(idx)))} y= {(radius+4)*(Math.cos(xScale_year(idx)))}>{idx/30 }</text>  
            {/if}
            {/if}
    {/if}
{/each}

</g>



<style>
   circle {
   fill:none;
    stroke: black;

   }
   line {
       stroke:black;
   }
   #heating {
       stroke:red;
       fill:red;
       fill-opacity: 25%;
   }
   #cooling {
       stroke:blue;
       fill:blue;
       fill-opacity: 25%;
   }
   #tickers {
       font-size:10px;
        text-align: center;
        position:absolute;
   }
   #line_tickers {
       stroke-width:2px;
       stroke:black;
   }

</style>