<script>
import { extent } from "d3-array";

import { scaleLinear,scaleLog,scaleSqrt } from "d3-scale";


export let data=[];
export let index;

let end_point_x = 175
let end_point_y = -80
let x_start = 0
let y_width = 50

let xScale;
let path_gas;
let path_electricity;
// let max_both;
// let min_both;

export let yScale_gas;
export let yScale_electricity;

$: {
    // max_both = Math.max(Math.max(...data.map(d => d.total_gas)),Math.max(...data.map(d => d.total_electrity)))
    // min_both = Math.min(Math.min(...data.map(d => d.total_gas)),Math.min(...data.map(d => d.total_electrity)))

    xScale =  scaleLinear().domain([0,data.length]).range([x_start,data.length*1.25])

    // yScale_gas = scaleLinear().domain([min_both,max_both]).range([end_point_y,end_point_y+y_width])
    // yScale_electricity = scaleLinear().domain([min_both,max_both]).range([end_point_y,end_point_y-y_width])

    path_gas = "M " + xScale(0) + " " + end_point_y
    path_electricity = "M " + xScale(0) + " " + end_point_y

    data.forEach((d,index) => {
        path_gas += " " + xScale(index) + " " + yScale_gas(d.total_gas) + " "
        path_electricity += " " + xScale(index) + " " + yScale_electricity(d.total_electrity) + " "
    });    
    path_gas += xScale(data.length) + " " + end_point_y + " "
    path_electricity += xScale(data.length)+ " " + end_point_y + " "

    path_gas += xScale(0) + " " + end_point_y
    path_electricity += xScale(0)+ " " + end_point_y

}

</script>

<!-- <path d="M 175 -110 C 150 -100 155 -125 140 -115 C 130 -110 120 -105 105 -110 L 70 -75 C 60 -70 55 -75 50 -80 C 40 -95 30 -55 10 -50 C 0 -55 1.6665 -16.6665 0 0 C 25 -15 40 0 40 0 C 75 10 70 -25 85 -25 C 100 -15 110 -45 125 -45 C 145 -45 170 -55 165 -60 C 165 -75 165 -90 175 -110"/> -->
<g transform="scale(1,1) rotate(-30,{x_start},{end_point_y})">
<path id = "gas" d={path_gas}></path>
<path id = "electricity" d={path_electricity}></path>
<line id="separator" x1={x_start} y1={end_point_y} x2={xScale(data.length)} y2={end_point_y}></line>
{#if index % 2 == 0}
<text id = "even_text" x ={2*(x_start + data.length*1.25)/3} y = {end_point_y+70}>Week {index+1} </text>
{:else}
<g transform="rotate(180)">
<text id="odd_text" x ={x_start-data.length} y = {end_point_y+70}>Week {index+1} </text>
</g>
{/if}
</g>
<style>
    #gas {
        stroke: orange;
        fill: orange;
        stroke-width:1px;

    }
    #electricity {
        stroke: blue;
        fill: blue;
        stroke-width:1px;

    }
    #separator {
        stroke:black;
        stroke-width:1px;
    }
    #odd_text {
        transform:scaleY(-1);

    }
</style>
