<script>
    import { onMount } from 'svelte';
    import {json} from "d3-fetch"
    import Leaf from "./_design_3_leaf.svelte";
    import { scaleLinear } from 'd3-scale';
    import { axisBottom} from 'd3-axis';
    import { select } from 'd3-selection';

  // Size and margins
  const width = 500;
  const height = 600;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const middle_page = 500/2
  let end_point_y = -80
  let y_width = 50

  let datapoints = [];
  let yScale_gas;
  let yScale_electricity;



  onMount(async () => {
        let res = await json("/data/hourly_electricity_vs_gas_december.json")
        .then(res => datapoints = res)
      });

  let weeks = {};
  $: {
    datapoints.forEach((d,index) => {
      if(!(d.week in weeks)) {
        weeks[d.week] = []
      } else {
        weeks[d.week].push(d)
      }
    })
  }


let x_axis;
$: x_axis = axisBottom(scaleLinear().domain([1,7]).range([middle_page+10,450])).ticks(7)
$: x_axis2 = axisBottom(scaleLinear().domain([1,7]).range([middle_page+10,70])).ticks(7)
const svgX = () => select("#axisdate2").attr("transform", "translate(0,575)").call(x_axis)
const svgX2 = () => select("#axisdate3").attr("transform", "translate(0,575)").call(x_axis2)

$: {
    let max_both = Math.max(Math.max(...datapoints.map(d => d.total_gas)),Math.max(...datapoints.map(d => d.total_electrity)))
    let min_both = Math.min(Math.min(...datapoints.map(d => d.total_gas)),Math.min(...datapoints.map(d => d.total_electrity)))

    yScale_gas = scaleLinear().domain([min_both,max_both]).range([end_point_y,end_point_y+y_width])
    yScale_electricity = scaleLinear().domain([min_both,max_both]).range([end_point_y,end_point_y-y_width])

}
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <line x1={middle_page} x2 = {middle_page} y1 = {height-35} y2={50}></line>
    <text id="title" x={middle_page-70} y={20}>Chicago December 2014</text>

    <g transform="translate(0, {150})">
    {#each Object.keys(weeks) as week,index}
    <g transform="translate(250, {innerWidth - index*100})">
    {#if index % 2 == 0}
    <!-- even leaves -->
    <Leaf data={weeks[week]} index={index} yScale_gas = {yScale_gas} yScale_electricity = {yScale_electricity}/>
    {:else}
    <!-- odd leaves -->
    <g transform=" scale(-1,1)">
      <Leaf data={weeks[week]} index={index} yScale_gas = {yScale_gas} yScale_electricity = {yScale_electricity}/>
    </g>
    {/if}
    </g>
    {/each}
    </g>
  </g>
  <g id="axisdate2"  transform="translate(50,150)" use:svgX>
  </g> 

  <g id="axisdate3"  transform="translate(50,150)" use:svgX2>
  </g> 
  <g>
    <text id="xlabel" x=460 y=580>(days)</text>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  line {
    stroke:black;
    stroke-width:1;
  }
  #title {
    font-family:'Times New Roman', Times, serif;
    font-size:15;
  }
  #xlabel {
    font-size:10px;
  }
</style>
