<script>
  import { onMount } from 'svelte';
  import {json} from "d3-fetch"
  import Clock from "./_design_2_clock.svelte";
  import { scaleLinear} from 'd3-scale';
  import { extent } from 'd3-array';


  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  let yScale_all;
  let xScale; 

  const city_names = ["Los Angeles", "Baltimore", "Chicago"];
  let radius = 75
  let scaling_type = "days"
  let datapoints = [];

  let min_val;
  let max_val;
  onMount(async () => {
        let res = await json("/data/daily_heating_cooling.json")
        .then(res => datapoints = res)
  });


  $: {
    yScale_all = scaleLinear().range([0, radius]).domain(extent( datapoints.map((d) => d.cooling).concat(datapoints.map((d) => d.heating)))).range([0,radius])
    xScale =  scaleLinear().domain([0,364]).range([0, 2* Math.PI])
    min_val  =  Math.min(...datapoints.map((d) => d.cooling).concat(datapoints.map((d) => d.heating)))
    max_val = Math.max(...datapoints.map((d) => d.cooling).concat(datapoints.map((d) => d.heating)))
    
    min_val = parseInt(min_val)
    max_val = parseInt(max_val)
  }

</script>

<svg {width} {height}>
  <text id="title_ex2" x={width/2} y={innerHeight+10}>Heating (red) and Cooling (blue) within a year (in months)</text>
  <g transform="translate({margin.left}, {margin.top})">
    {#each city_names as city,idx}
    <text id="citynames" x ={idx*200+100} y=10>{city}</text>
    <g transform="translate(100,0)">
    <Clock data={datapoints.filter(d => d.city == city)} index={idx} scaling_type={scaling_type} yScale_all = {yScale_all} min_val = {min_val} max_val = {max_val}/>
      </g>
    {/each}
    <text id="radiusinfo" x={220} y={200}>Radii range: {min_val} KW to {max_val} KW </text>

  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  #citynames {
    text-anchor:middle;
    position: absolute;
    font-weight: lighter;
    font-size: 15px;

  }
  #title_ex2 {
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    text-anchor:middle;
  }
  #radiusinfo {
       font-size:10px;
   }
</style>
