<script>
  // Size and margins
  import { onMount } from 'svelte';
  import {json} from "d3-fetch"
  import Controls from "./_design_1_controls.svelte";
  import Line from "./_design_1_line.svelte";
  import { scaleLinear } from 'd3-scale';
  import { extent } from 'd3-array';
  import { axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';

  const width = 600;
  const height = 290;
  const margin_data_separator = 15;
  const max_line_width = 5;

  const margin = { top: 10, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let city_type = "Baltimore"
  let scaling_type = "separate"

  let datapoints = [];
  let buildings = [];
  
  onMount(async () => {
        let res = await json("/data/hourly_heating_december.json")
        .then(res => datapoints = res)
        .then(data =>
        buildings = [...new Set(data.map((d) =>  d.buildingtype))])
  });

  let selected_data = {}
  $:  {
      selected_data = datapoints.filter(d => d.city == city_type)
    }

let xScale =  scaleLinear().domain([0, 24*31]).range([100, innerWidth]);
let yScale;

$:{
  if(scaling_type == "separate") {
    //separate, calculate yscale for each line separtatelin in Line component
    yScale = null;
  }
  else {
    //all case
    yScale = scaleLinear().domain(extent(selected_data.map((d) => d.total_heating_energy))).range([max_line_width,0])
  }
}

let x_axis;
$: x_axis = axisBottom(scaleLinear().domain([1,31]).range([110,590]))
const svgX = () => select("#axisdate").attr("transform", "translate(0,250)").call(x_axis)

</script>


<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <text id="title_ex1"  x={width/2} y={innerHeight}>Energy use over multiple days</text>
    {#each buildings as building,idx}
    <g transform="translate(-50, 0)">
    <text class="buildingname" x=50 y={idx*margin_data_separator+5}>{ building.split(/(?=[A-Z])/).join(" ")}:</text>
    </g>
    <Line data={selected_data.filter(d => d.buildingtype == building)} xScale = {xScale} yScale = {yScale} scaling_type = {scaling_type} building_index={idx} max_line_width={max_line_width}/>
      {/each}
    </g>
    <g id="axisdate"  transform="translate(50,150)" use:svgX>
    </g> 
</svg>
<Controls bind:city_type={city_type} bind:scaling_type={scaling_type}/>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  .buildingname {
    font-size:9px;
    font-weight: lighter;
  }
  #title_ex1 {
    font-size:15px;
    font-family:'Times New Roman', Times, serif;
    position: absolute;
    text-anchor:middle;
  }

</style>
