<script>
    //DEFAULT HERE IS 0
    //But in the ex_10 component I will actually give it 42..
    //So if nothing was given, then it will produce 0.
    export let answer = 0;
</script>

<span>The answer to life the universe and everything is {answer}</span>
