<script>
    const myself = {"name" : "Raghid", "hobby1": "football", "hobby2" : "formula1", "food": "pizza"}
</script>

<p>My name is {myself.name} and these are some of my favorite things: {myself.hobby1}, {myself.hobby2}, and {myself.food}. </p>
