<script>
 function circumference(radius) {
     //using the 'toFixed' method to return only up to 2 decimals!
     return 2*radius*Math.PI.toFixed(2)
 }
 const radius = 2
</script>

<p> The circumference of a circule with radius {radius} is {circumference(radius)}.</p>
