<script>
  import { min,max,extent } from 'd3-array';
  import { scaleLinear, scaleOrdinal,scaleLog } from 'd3-scale';
  import { schemeCategory10 } from 'd3-scale-chromatic';
  import { axisLeft, axisBottom} from 'd3-axis';
  import { select } from 'd3-selection';


  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  export let data;
  export let year;
  const smallest_circle = 2;
  const biggest_circle = 10;

  //adding variables to use later - when data will be loaded..
  let min_income;
  let max_income;


  let x_scale;
  let y_scale;
  let radius_scale;
  let color_continent;
  let continents_unique;

  let x_axis;
  let y_axis;

  let svgX;
  let svgY;

  const myfunction = (data) => {

   //making the scales
    min_income = min(extent(data, (country) => (+country.income)))
    max_income = max(extent(data, (country) => (+country.income)))
    x_scale =  scaleLog().domain([min_income,40000]).range([0,innerWidth-margin.left])
    y_scale = scaleLinear().domain([0,90]).range([innerHeight,0])
    radius_scale = scaleLog().domain(extent(data, (country) => country.population)).range([smallest_circle,biggest_circle])

   //mini scale for continents
    color_continent = scaleOrdinal().domain(extent(data,(country) => country.continent)).range(schemeCategory10)
   //extracting the continents (unique vals only 5 continents, no duplicates so Set())
    continents_unique = Array.from(new Set((data.map(country => country.continent))))
    
    //x and y axis
    x_axis = axisBottom(x_scale)
    y_axis = axisLeft(y_scale)

    //function to make x and y axis
    svgX = () => select("#axisx_ex_7").attr("transform", "translate(-10,305)").call(x_axis);
    svgY = () => select("#axisy_ex_7").attr("transform", "translate(-10,10)").call(y_axis)
  }
  </script>

<svg {width} {height} viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform="translate({margin.left}, {margin.top})">
    {#if data == null || data.length === 0} 
          <text fill="black" x=100 y=150 font-size=25>Data is still loading! please wait</text>
    {:else}    
      {myfunction(data)}
          {#each data as country}
                {#if country.income != null && country.life_exp != null && country.population != null}
                      <circle cx={x_scale(country.income)} cy={y_scale(country.life_exp)} r={radius_scale(country.population)} fill={color_continent(country.continent)}/>
                      {#if country.income > max_income/2}
                      {console.log(country.country)}
                      <text  x={x_scale(country.income)-5} y={y_scale(country.life_exp)} font-size=5> {country.country}</text>
                      {/if}
                      {/if}
          {/each}
          <g>
            <text class="title-plot" x=150 y=10>Income vs. Life Expectancy</text>
          </g>

          <g id="axisy_ex_7" use:svgY>
            <g transform={`rotate(90)`}>
              <text fill="currentColor" x=150 y=40>Life Expectancy</text>
            </g>
          </g>

          <g id="axisx_ex_7" use:svgX>
            <g transform={"translate(300,30)"}>
              <text fill="currentColor">Income</text>
            </g>
          </g>
          
          <g transform={`translate(450,50)`}>
            {#each continents_unique as continent,idx}
            <text y = {20*idx}>{continent}</text>
            <rect fill={color_continent(continent)} x = -20 y= {20*idx - 10} width=10 height=10></rect>
            {/each}
          </g>
    
          <g transform={`translate(400,285)`}>
            <text class="yearlabel">{year}</text>
          </g>

    {/if}
  </g>

</svg>

<style>
  .yearlabel {
    font-size:2.25em;
    opacity:0.4;
  }
  circle {
    opacity:0.6
  }
  .title-plot {
    font-size:1.5em;
  }
</style>