<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
</script>

<!-- Updated width and height in javascript to accomodate viewbox
This will automatically push the circle to the bottom right
In this example, viewbox is set to 500 and 500 width and height
So this will scale up to 5 times (from out actual wifth and height that
are specified as 100. We will end up with the same image even though
the cx  = 400, cy = 400 and radius = 100, but that is scaled from 
(400/500 = 80) and (100/500 = 20))
If I want to make it 2 times bigger, all we have to do is to change
the width and the height from 100 to 200...-->
<svg {width} {height} viewBox="0 0 500 500" >
  <g transform="translate({margin.left},{margin.top})">
    <circle cx={80*5} cy={80*5} r={20*5} fill="teal"/>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
