<script>
  import { scaleLog } from 'd3-scale';
  

    // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  // Array
  // Note: we are giving a domain of the first value - 1 , so we can have the first value at the beginning
  // of the SVG but not at the edge. 
  //Same thing goes to the final value.
  // the range is set to the complete width.
  const values = [2, 4, 6, 7, 9];
  const scale = scaleLog().domain([values[0] - 1, values[values.length - 1] + 1]).range([0,innerWidth]);

</script>

<!-- Note we are translating top by 50 because it will make the plot on the center -->

<svg {width} {height} viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top+40})">
    {#each values as point}
    <circle  cy={point} cx={scale(point)} r=10 fill="teal"/>
    {/each}
  </g>
</svg>
