<script>
  import { axisBottom } from 'd3-axis';
  import { select } from 'd3-selection';

  import { scaleLog } from 'd3-scale';
  

  // Dimensions
const width = 800;
const height = 100;
const margin = { top: 5, right: 5, bottom: 5, left: 5 };
const innerWidth = width - margin.left - margin.right;
const innerHeight = height - margin.top - margin.bottom;


// Array
const values = [2, 4, 6, 7, 9];
const scale = scaleLog().domain([values[0] - 1, values[values.length - 1] + 1]).range([0,innerWidth]);

const x_axis = axisBottom(scale)

let svg = () => select("#xaxis").attr("transform", "translate(0,70)").call(x_axis)


</script>

<svg {width} {height} viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top+40})">
    {#each values as point}
    <circle  cy={point} cx={scale(point)} r=10 fill="teal"/>
    {/each}
  </g>
  <g id="xaxis" use:svg>
    <text fill="currentColor" x="400" y=21>X-axis</text>
  </g>

</svg>