<script>
    import { scaleLinear } from 'd3-scale';
    import { scaleOrdinal } from 'd3-scale';
    import { schemeDark2 } from 'd3-scale-chromatic';
    import { extent } from 'd3-array';

  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 20, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const scale_x = scaleLinear().range([100,innerWidth-100]).domain(extent(values, (val) => val.x))
  const scale_y = scaleLinear().range([innerHeight/2,innerHeight]).domain(extent(values, (val) => val.y))

  const scale_colors = scaleOrdinal(schemeDark2).domain(extent(values,(value) => value.category))

  const text_padding = 10
  const circle_size = 10
  
</script>

<svg {width} {height} viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top+20})">
    {#each values as point}
    <line x1={scale_x(point.x)} y1={innerHeight}  x2={scale_x(point.x)} y2={innerHeight - scale_y(point.y)} stroke="black"></line>
    <circle  cx={scale_x(point.x)} cy={innerHeight - scale_y(point.y)} r={circle_size} fill={scale_colors(point.category)}/>
    <text x = {scale_x(point.x)} y={innerHeight - scale_y(point.y)-text_padding} class="valueLabel">{point.y}</text>
    {/each}
  </g>
</svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
