<script>
    import { scaleBand, scaleLinear, scaleOrdinal } from 'd3-scale';
    import { schemeCategory10 } from 'd3-scale-chromatic';
    import { extent, max } from 'd3-array';
    import { axisLeft, axisBottom} from 'd3-axis';
    import { select } from 'd3-selection';
    
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 50, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  const width_bar = 65

  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  //values to be used in plotting
  const max_value = max(extent(data, (streaming) => streaming.viewers)) + 0.1

  //for y's
  const scale_y = scaleLinear().range([0,innerHeight]).domain([max_value,0])
  
  //for x-axis
  const scale_x = scaleBand().domain(data.map(d => d.service)).range([0,innerWidth-margin.left])
  
  //for x's
  const scale_x2 = scaleLinear().domain([0,data.length]).range([0,innerWidth-margin.left])

  const x_axis = axisBottom(scale_x)
  const y_axis = axisLeft(scale_y)
  
  let svgX = () => select("#axisstreaming").attr("transform", "translate(50,250)").call(x_axis)
  let svgY = () => select("#axis2").attr("transform", "translate(50,10)").call(y_axis)

</script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg {width} {height} viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as streaming,idx}
    <rect x={scale_x2(idx)} y={scale_y(streaming.viewers)} width={width_bar} height={(streaming.viewers)/(max_value) * innerHeight} fill="steelblue" />
    {/each}
  </g>

  <g id="axisstreaming" use:svgX>
    <text fill="currentColor" x=250 y=30>Streaming Service</text>
  </g>

  <g id="axis2" use:svgY>
    <g transform={`rotate(90)`}>
      <text fill="currentColor" x=150 y=40>Number of Viewers</text>
    </g>
  </g>

</svg>