<script>
    import { onMount } from 'svelte';
    import {json} from "d3-fetch"
    import Ex_7_scatterplot from "./_ex_7_scatterplot.svelte";
    import { extent} from 'd3-array';


    //change this to visualize any year!!
    let year = "1800"

    //////////////////////reading data//////////////////////
    let data = []
    onMount(async () => {
        let res = await json("/data/gapminder.json")

        .then(results => extent(results, function(date) { 
            if(date.year === year) return date }))
        .then(clean_year => clean_year[0].countries)
        .then(remove_nulls => remove_nulls.filter((country) => country.income != null &&
                                                                country.life_exp != null &&
                                                                country.population != null))
        .then(results_parsed => results_parsed.map((country) => {
            country.income = +country.income
            country.population = +country.population
            country.life_exp = +country.life_exp
            return country
        }))
        .then(final_result => data = final_result)
        .catch(function() {console.log("File was not found")})
    });   
    //////////////////////reading data//////////////////////


</script>

<Ex_7_scatterplot data={data} year={year}/>
  

